*{
  margin: 0;
  font-family: var(--font-family);
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Lexend', sans-serif;
  
  --color-red: #ff0000;
  --color-blue : #1137f1;
  --color-lightblue:#2649f7;
  --color-light: #faf7f7;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-light);
}

#error-page{
  padding: 5rem;
}

